---
import Layout from '../../layouts/Layout.astro';
import ResetPasswordForm from '../../components/auth/ResetPasswordForm.tsx';
---

<Layout title="Reset Password">
  <section class="min-h-[80vh] flex items-center justify-center px-4">
    <div class="w-full max-w-md">
      <ResetPasswordForm client:load />
    </div>
  </section>
</Layout>
